<h1 class="text-center p-5 border-bottom border-secondary">Choose the type you want to add</h1>
<article class="m-5 ">
<div class="container ">
  <div class="row">
    <div (click)="newForm(carUrl)" class="col-4 text-center" role='button'>
      <img
        [src]=carUrl
        alt="car picture"
        style="width: 75%; margin: auto"
        class="rounded mx-auto d-block">
      <div>
        <h3>Add a Car</h3>
      </div>
    </div>
    <div (click)="newForm(motoUrl)" class="col-4 text-center" role='button'>
      <img
        style="width: 75%; margin: auto"
        [src]=motoUrl
        alt="moto picture"
        class="rounded mx-auto d-block">
        <h3>Add a Moto</h3>
    </div>
    <div (click)="newForm(bikeUrl)" class="col-4 text-center" role='button'>
      <img
        [src]=bikeUrl
        alt="bike picture"
        style="width: 75%; margin: auto"
        class="rounded mx-auto d-block">
        <h3>Add a Bike</h3>
    </div>
  </div>
</div>
</article>

