<div class="col-sm-6 col-smo-ffset-2 m-auto p-5">
  <form [formGroup] = "vehicleForm" (ngSubmit) = "onSubmitForm()">

    <div>
      <div class="form-group p-2">
        <label for="mark">Mark</label>
        <input type="text" class="form-control" id= "mark" formControlName= "mark"/>
      </div>
      <div class="form-group p-2">
          <label for="model">Model</label>
          <input type="text" class="form-control" id= "model" formControlName= "model"/>
      </div>
      <div class="form-group p-2">
          <label for="color">Color</label>
          <input type="text" class="form-control" id= "color" formControlName= "color"/>
      </div>
      <div class="form-group p-2">
          <label for="price">Price</label>
          <input type="text" class="form-control" id= "price" formControlName= "price"/>
      </div>
      <div class="form-group p-2">
          <label for="purshasePrice">PurshasePrice</label>
          <input type="text" class="form-control" id= "purshasePrice" formControlName= "purshasePrice"/>
      </div>
      <div class="form-group p-2">
          <label for="purshaseDate">PurshaseDate</label>
          <input type="date" class="form-control" id= "purshaseDate" formControlName= "purshaseDate"/>
      </div>
    </div>


      <!-- CAR OR MOTO-->
      <div *ngIf="vehicleType === ('car' || 'moto')">
        <div class="form-group p-2">
          <label for="kilometers">Kilometers</label>
          <input type="number" class="form-control" id= "kilometers" formControlName= "kilometers"/>
        </div>

        <div class="form-group p-2">
          <label for="power">Power</label>
          <input type="number" class="form-control" id= "power" formControlName= "power"/>
        </div>

        <div class="form-group p-2">
          <label for="launchDate">Launch Date</label>
          <input type="date" class="form-control" id= "launchDate" formControlName= "launchDate"/>
        </div>
      </div>


      <!-- CAR -->
      <div *ngIf="vehicleType === 'car'">

        <div class="fp-2">
          <label for="door">Door numbers</label>
          <select class="form-select" name="door" id="door">
            <option value="2">2</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>

        <div class=" p-2">
          <label for="gearBox">GearBox</label>
          <select  class="form-select" name="gearBox" id="gearBox">
            <option value="MANUAL">Manual</option>
            <option value="AUTO">auto</option>
          </select>
        </div>

        <div class="p-2">
          <label for="carType">Car Type</label>
          <select class="form-select" name="carType" id="carType">
            <option value="SPORT">SPORT</option>
            <option value="SUV">SUV</option>
            <option value="SEDAN">SEDAN</option>
            <option value="CONVERTIBLE">CONVERTIBLE</option>
            <option value="COUPE">COUPE</option>
          </select>
        </div>
      </div>

      <!-- MOTO -->
      <div *ngIf="vehicleType === 'moto'">
        <div class="form-group p-2">
          <label for="cylinder">Cylinder</label>
          <input type="number" class="form-control" id= "cylinder" formControlName= "cylinder">
        </div>

        <div class=" p-2">
          <label for="motoType">Moto Type</label>
          <select class="form-select" name="motoType" id="motoType">
            <option value="SPORT">SPORT</option>
            <option value="ROAD">ROAD</option>
            <option value="ROADSTER">ROADSTER</option>
          </select>
        </div>
      </div>

      <!-- BIKE -->
      <div *ngIf="vehicleType === 'bike'">
        <div class="form-group p-2">
          <label for="chainrings">Chainrings</label>
          <input type="number" class="form-control" id= "chainrings" formControlName= "chainrings">
        </div>

        <div class="form-check m-2">
          <input type="checkbox"  class="form-check-input" id= "antitheft" formControlName= "antitheft">
          <label for="antitheft" class="form-check-label">Antitheft</label>
        </div>

        <div class="p-2">
          <label for="motoType">Moto Type</label>
          <select class="form-select" name="motoType" id="motoType">
            <option value="MOUNTAIN">MOUNTAIN</option>
            <option value="ROAD">ROAD</option>
            <option value="CITY">CITY</option>
            <option value="RACE">RACE</option>
          </select>
        </div>

      </div>


      <!-- DESCRIPTION -->
      <div class="form-group p-2">
        <label for="description">Description</label>
        <textarea class="form-control" id= "description" formControlName= "description"></textarea>
      </div>
    <div class="p-2">
      <button class="btn btn-primary" type="submit" >Envoyer</button>
    </div>


  </form>
</div>

